@font-face {
    font-family: "calculator";
    src: url("/assets/fonts/Calculator.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(#582f0e, #7f4f24, #936639);
}

.calculadora {
    box-sizing: border-box;
    min-width: 768px;
    margin: 10px auto;
    padding: 20px;
    background-color: #343a40;
    border-radius: 20px;
    justify-content: center;
    display: grid;
    gap: 20px;
    grid-auto-columns: 1fr;
    grid-template-areas: "pantalla pantalla pantalla pantalla pantalla"
                        "siete ocho nueve dividir borrar"
                        "cuatro cinco seis multiplicar porcentaje"
                        "uno dos tres sumar igual"
                        "cero punto del restar igual";
}

.calculadora div, .calculadora button {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    user-select: none;
}

.calculadora button:active {
    border: 1px solid #000;
    transform: scaleX(0.95);
}

.div_pantalla {
    grid-area: pantalla;
    padding: 10px;
}

.div_pantalla textarea {
    font-family: "calculator";
    flex-grow: 1;
    font-size: 2em;
    border: none;
    outline: none;
    resize: none;
}

.calculadora #btn-0{
    grid-area: cero;
}
.calculadora #btn-1{
    grid-area: uno;
}
.calculadora #btn-2{
    grid-area: dos;
}
.calculadora #btn-3{
    grid-area: tres;
}
.calculadora #btn-4{
    grid-area: cuatro;
}
.calculadora #btn-5{
    grid-area: cinco;
}
.calculadora #btn-6{
    grid-area: seis;
}
.calculadora #btn-7{
    grid-area: siete;
}
.calculadora #btn-8{
    grid-area: ocho;
}
.calculadora #btn-9{
    grid-area: nueve;
}
.calculadora #btn-ac{
    grid-area: borrar;
    background-color: #fb8500;
}
.calculadora #btn-del{
    grid-area: del;
    background-color: pink;
}
.calculadora #btn-porc{
    grid-area: porcentaje;
    background-color: #adb5bd;
}
.calculadora #btn-dividir{
    grid-area: dividir;
    background-color: #adb5bd;
}
.calculadora #btn-multiplicar{
    grid-area: multiplicar;
    background-color: #adb5bd;
}
.calculadora #btn-restar{
    grid-area: restar;
    background-color: #adb5bd;
}
#btn-sumar{
    grid-area: sumar;
    background-color: #adb5bd;
}
.calculadora #btn-punto{
    grid-area: punto;
}
.calculadora #btn-igual{
    grid-area: igual;
    background-color: #0077b6;
}

@media screen and (max-width: 1024px){
    .calculadora {
        min-width: 768px;
        max-width: 1024px;
        grid-template-areas: "pantalla pantalla pantalla"
        "borrar dividir multiplicar "
        "porcentaje sumar restar"
        "siete ocho nueve"
        "cuatro cinco seis"
        "uno dos tres"
        "cero punto del"
        "igual igual igual";
    }
}

@media screen and (max-width: 480px){
    .calculadora {
        min-width: 320px;
        max-width: 480px;
        grid-template-areas: "pantalla pantalla pantalla"
        "borrar dividir multiplicar "
        "porcentaje sumar restar"
        "siete ocho nueve"
        "cuatro cinco seis"
        "uno dos tres"
        "cero punto del"
        "igual igual igual";
    }
}